.waveformImage {
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}
VisualElement {
    border-color: gold;
    border-width: 0px;
    border-radius: 5px;
    border-style: solid;
}

